@media screen and (max-width:1500px){
    
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
    }
    .search input{
        margin: 12px 16px;
        /* padding: ; */
    }
    nav ul{
        height: 34px;
    }
    .slider{
        height: 23vh;
    }
    .card-item{
        width: 140px;
    }
}